/* @font-face {
    font-family: "yassine";
    src: url("/fonts/Ubuntu/Ubuntu-Bold.ttf");
} */

.root {
    /* -fx-font-family: "yassine"; */
    -fx-background-color: linear-gradient(to right, #50B3A2, #4A90E2); /* Reversed gradient on hover */
    -fx-background-radius: 15px;
    -fx-background-radius: 15px 15px 15px 15px;
}

/* .button {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-background-color: #34495E;
    -fx-cursor: hand;
}
.button:hover {
    -fx-background-color: #6a16ae;
}
.label {
    -fx-font-size: 14px;
    -fx-text-fill: white;
} */